

<form action="/list" method="post">
  <dl>
    <dt>
      <label for="todo_name">Enter your new Todo:</label>
    </dt>
    <dd>
      <input name="todo_name" placeholder="Something to do" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="">Cancel<a>
  </fieldset>
</form>